table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.tcm_table {
    background: #FFFFFF;
    border-collapse: collapse;
}
.tcm_table td {
    padding:3px;
    border: 1px solid #CCCCCC;
}
.tcm_table th {
    padding: 5px;
    font-weight: bold;
    background: #EAEAEA;
    color: #212121;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}
.tcm_summe td {
    border-top: 2px solid #333333;
    font-weight: bold;
}
.tcm_table .tcm_mandant {
    font-weight: bold;
    color: #212121;
    height: 40px;
    font-size: 14px;
    border-left: 0px;
    border-right :0px;
}

#hideContent {
    display: none;
}