/*UI tabs*/
ul.ui-tabs-nav {
	margin: 0;
	padding: 0;
	border-right: 1px solid #d3d3d3;
}
ul.ui-tabs-nav li {
	margin: 0;
	padding: 5px 0;
	list-style: none;
	float: left;
	border: 1px solid #d3d3d3;
}
ul.ui-tabs-nav li a {
	color: #555555;
	padding: 5px 8px;
}
ul.ui-tabs-nav li a:hover {
	color: #222222;
	background: #dddddd;
}
ul.ui-tabs-nav li.ui-tabs-selected {
	background: #3A83B6;
	color: #ffffff;
}
ul.ui-tabs-nav li.ui-tabs-selected a, ul.ui-tabs-nav li.ui-tabs-selected a:hover {
	background: #3A83B6;
	color: #ffffff;
	font-weight: bold;
}
.ui-tabs-panel {
	margin: 0;
	padding: 15px 10px;
	clear: left;
	border: 1px dotted #d3d3d3;
	background: #f4f4f4;
	border-top: 2px solid #d3d3d3;
	border-bottom: 2px solid #d3d3d3;
}
.ui-tabs-hide {
	display: none;
}