/* tables */
.tablesorter {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	width: 100%;
	text-align: left;
	border: 1px solid #dddddd;
}

.tablesorter thead tr th, .tablesorter tfoot tr th {
	border: 1px solid #ffffff;
	padding: 4px;
}
.tablesorter thead tr th {
	background: #555555;
	color: #ffffff;
}
.tablesorter tfoot tr th {
	background: transparent;
}

.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background: #ffffff;
	vertical-align: top;
}
.tablesorter tbody tr.odd td {
	background: #e7e7e7;
}

.tablesorter thead tr .headerSortUp {
	background: url(../imgs/jquery_table/asc.gif) no-repeat center right;
}
.tablesorter thead tr .headerSortDown {
	background: url(../imgs/jquery_table/desc.gif) no-repeat center right;
}
.tablesorter thead tr .headerSortDown, .tablesorter thead tr .headerSortUp {
	background: #8dbdd8;
}



/* Pager */
#pagerLinks {
	margin: 0 0 5px 0;
}
#pagerLinks ul {
	float: right;
	padding: 0;
	margin: 5px 0;
	list-style: none;
}
#pagerLinks ul li {
	padding: 2px;
	margin: 0 4px;
	float: left;
	border: 0 none;
}
#pagerLinks ul li a {
	padding: 0;
	color: #3A83B6;
	background: none;
}
#pagerLinks ul li a.active {
	font-weight: bold;
}