<div id="admin_user_submenu"> 
	<div class="bd" style="width:130px;background-image:url(img/cmenu_bg.png)"> 
		<ul class="submenu"> 
			<li id="button_edit_user"><img src="img/icons/note_edit.png" /> Bearbeiten</li>
		</ul>
		<ul class="submenu">
			<li id="button_del_user"><img src="img/icons/remove.png" /> L&ouml;schen</li>
		</ul>
	</div> 
</div>
<div id="admin_clickProfil_submenu"> 
	<div class="bd" style="width:130px;background-image:url(img/cmenu_bg.png)"> 
		<ul class="submenu"> 
			<li id="button_edit_clickProfil"><img src="img/icons/note_edit.png" /> Bearbeiten</li>
		</ul>
	</div> 
</div>
<div id="admin_dsdn_submenu"> 
	<div class="bd" style="width:130px;background-image:url(img/cmenu_bg.png)"> 
		<ul class="submenu"> 
			<li id="button_edit_dsdn"><img src="img/icons/note_edit.png" /> Bearbeiten</li>
		</ul>
	</div> 
</div>

<div id="admin_dsd_submenu"> 
	<div class="bd" style="width:130px;background-image:url(img/cmenu_bg.png)"> 
		<ul class="submenu"> 
			<li id="button_edit_dsd"><img src="img/icons/note_edit.png" /> Bearbeiten</li>
		</ul>
	</div> 
</div>
<div id="admin_esp_submenu"> 
    <div class="bd" style="width:130px;background-image:url(img/cmenu_bg.png)"> 
        <ul class="submenu"> 
            <li id="button_edit_esp"><img src="img/icons/note_edit.png" /> Bearbeiten</li>
        </ul>
    </div> 
</div>
<div id="admin_hf_submenu"> 
    <div class="bd" style="width:130px;background-image:url(img/cmenu_bg.png)"> 
        <ul class="submenu"> 
            <li id="button_edit_hf"><img src="img/icons/note_edit.png" /> Bearbeiten</li>
        </ul>
    </div> 
</div>

