.label_big {
	font-size:16px;
	font-weight:
	bold;
	color:#1D1D1D;
}

.label_sub1 {
	font-size:12px;
	font-weight:bold;
	color:#9900FF;
}

.label_sub2 {
	font-size:12px;
}

.fieldset_default {
	border:1px solid #CCCCCC;
	padding:10px;
	margin-top:25px;
	width:95%;
}

.fieldset_default td{
	padding: 3px;
}

.legend_default {
	color:#333333;
	font-weight:bold;
	font-size:11px;
	padding:5px;
}

.fieldset_default table {
	margin-left:25px;
}

.fieldset_label {
	color:#666666;
	text-align:right;
	vertical-align:top;
}

.fieldset_data {
	color:#000000;
}


.performance_table td{
	padding-left:10px;
	padding-right:5px;
	text-align:right;
}

.performance {
	color:#9900FF;
	font-weight:bold;
	text-align:right;
}

.performance_tr {
	border-bottom: 1px solid #666666;
	font-weight:bold;
}

.performance_tr2 {
	border-bottom: 1px solid #CCCCCC;
}


#cm_rep table td {
	padding-left:2px;
}

#cm_rep .inp_button {
	padding:0px 2px 0px 2px;
	font-size:10px;
}

.fixed {
	position:fixed;
	height:20px
}

#rep_table {
	background-color:#F1F1F1;
	width:300px;
	float:left;
	overflow-y:auto;
	overflow-x:hidden;
}

#spacer {
	background-color:#8e8901;
	width:5px;
	float:left;
}

#rep_details_content {
	background-color:#FFFFFF;
	float:left;
	overflow:auto;
}

#rep_table_a {
	background-color:#F1F1F1;
	width:300px;
	float:left;
	overflow:auto;
}

#spacer2 {
	background-color:#8e8901;
	width:5px;
	float:left;
}

#rep_details_content2 {
	background-color:#FFFFFF;
	float:left;
	overflow:auto;
}

.spalten_tab {
	padding-top:15px;text-align:left;border:0px;background-color:#FFFFFF;
}

.spalten_tab_content {
	margin:0px;padding:0px;border-right:0px;border-bottom:0px;
}

.rep_zahlen_ext {
	background-color:#E6E6E6;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

.empf_liste {
	width:100%
}
.empf_liste td{
	border-bottom:1px solid #CCCCCC;
	padding: 3px;
	text-align:left;
}



li a {outline:0; cursor:pointer}
.yui-dt-scrollable .yui-dt-data:focus {outline:0;}
.yui-dt-scrollable table { width: 100%;}

.yui-skin-sam .yui-dt td { 
	 border-bottom:1px solid #CBCBCB; /* inner column border */ 
	 text-align:left; 
	 font-size:11px;
} 




.yui-skin-sam th.yui-dt-highlighted,
.yui-skin-sam th.yui-dt-highlighted a {
    background-color:#B2D2FF; /* med blue hover */
}

.yui-skin-sam tr.yui-dt-highlighted,
.yui-skin-sam tr.yui-dt-highlighted td.yui-dt-asc,
.yui-skin-sam tr.yui-dt-highlighted td.yui-dt-desc,
.yui-skin-sam tr.yui-dt-even td.yui-dt-highlighted,
.yui-skin-sam tr.yui-dt-odd td.yui-dt-highlighted {
    cursor:pointer;
    background-color:#B2D2FF; /* med blue hover */
}

.yui-skin-sam .yui-layout .yui-resize-proxy {
    border: none;
    font-size: 0;
    margin: 0;
    padding: 0;
}
/* During resize, hide the handles */
.yui-skin-sam .yui-layout .yui-resize-resizing .yui-resize-handle {
    opacity: 0;
    filter: alpha(opacity=0);
}
/* Style the div inside the resize proxy */
.yui-skin-sam .yui-layout .yui-resize-proxy div {
    position: absolute;
    border: 1px solid #808080;
    background-color: #EDF5FF;
}
/* Set the color of the Active resize handle */
.yui-skin-sam .yui-layout .yui-resize .yui-resize-handle-active {
    background-color: #cccccc;
}

.yui-skin-sam .yui-layout-unit .yui-resize-handle-r .yui-layout-resize-knob,
.yui-skin-sam .yui-layout-unit .yui-resize-handle-l .yui-layout-resize-knob {
    position: absolute;
    height: 16px;
    width: 6px;
    top: 45%;
    left: 0px;
    background: transparent url(layout_sprite.png) no-repeat 0 -5px;
}
/* Add the gripper */
.yui-skin-sam .yui-layout-unit .yui-resize-handle-t .yui-layout-resize-knob,
.yui-skin-sam .yui-layout-unit .yui-resize-handle-b .yui-layout-resize-knob {
    position: absolute;
    height: 6px;
    width: 16px;
    left: 45%;
    background: transparent url(layout_sprite.png) no-repeat -20px 0;
}



input[type=button] {
	background-image:url(../img/treaction_gruen_seperator.png);
    border:1px solid #8e8901;
    border-top:1px solid #8e8901;
    border-left:1px solid #8e8901;
	border-radius:4px;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#FFFFFF;
    cursor:pointer;
    padding:3px; /* Links */
}


input[type=button]:hover{
	background-image:url(../img/treaction_gruen_seperator.png);
    border:1px solid #8e8901;
    color:#FFFFFF;
}
input[type=button]:active{
    background-image:url(../img/treaction_gruen_seperator.png);
    border:1px solid #8e8901;
    color:#fff;
}

/* POSITIVE */

input[type=button].positive {
    color:#555555;
}

input[type=button].positive:hover {
    background-image:url(../img/button/btn_bg_positive_hover.png);
    border:1px solid #C6D880;
    color:#555555;
}
input[type=button].positive:active{
    background-image:url(../img/button/btn_bg_positive_active.png);
    border:1px solid #555555;
    color:#fff;
}


/* NEGATIVE */

input[type=button].negative{
    color:#d12f19;
}
input[type=button].negative:hover {
    background-image:url(../img/button/btn_bg_negative_hover.png);
    border:1px solid #fbc2c4;
    color:#d12f19;
}
input[type=button].negative:active{
    background-image:url(../img/button/btn_bg_negative_active.png);
    border:1px solid #d12f19;
    color:#fff;
}



input[type=button].b_planer {
	background-image:none;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
	background-color:#F2F2F2;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    line-height:130%;
	width:65px;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:3px; /* Links */
	margin-bottom:-1px;
}

input[type=button].b_planer:hover{
	background-image:none;
	background-color:#8e8901;
    color:#FFFFFF;
	border-bottom:1px solid #8e8901;
}

input[type=button].selected {
    background-image:none;
	background-color:#8e8901;
    color:#FFFFFF;
	border-bottom:1px solid #8e8901;
}


