@import url('tableSettings.css');

.ubersicht_campaign {
	background-color:#666666;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	width:380px;
	padding:5px;
	height:15px;
	cursor:pointer;
	margin-bottom:2px;
}

/*
    campaign New
	use (table statt new_k)
*/
.neu_k {
    font-size: 11px;
}
.neu_k td {
    height: auto;
    padding: 4px 5px;
}
.neu_k td > table.neu_k {
    margin: -4px -5px;
    width: 102%;
}

#tab_k_new .info {
    color: #444;
}
#tab_k_new #priceContentBox {
    margin: 10px 0 0;
}

#tab_k_new label {
    color: #000;
    float: none;
    display: inline;
    margin-right: 6px;
    font-weight: normal;
}
#tab_k_new input, #tab_k_new select, #tab_k_new textarea {
    border: 1px solid #ddd;
}
#tab_k_new input:focus, #tab_k_new select:focus, #tab_k_new textarea:focus {
    border: 1px solid #aaa;
}
#tab_k_new input[type = "text"] {
    width: 200px;
}
#tab_k_new select, #tab_k_new textarea {
    width: 210px;
}
#tab_k_new select {
    margin-top: 3px;
    font-size: 11px;
}

.inactive, #tab_k_new input.inactive {
    border: 0 none;
    background: transparent;
}

#tab_k_new > .neu_k td:first-child {
    width: 136px;
}

#volumeAndPerformance td:first-child {
    width: 252px;
}