html, body {
	margin:0px;
	padding:0px;
	font-family: arial, sans-serif;
	color: #212121;
	font-size:11px;
	background-color:#666666;
}

select {
	color: #212121;
	font-size:11px;
}

table {
	border-collapse:collapse;
}

#importVorschau tr td {
	border:1px solid #CCCCCC;
	padding:3px;
	white-space: nowrap;
}

#fehlerVorschau tr td {
	border-bottom:1px solid #CCCCCC;
	padding:3px;
	white-space: nowrap;
}

.tdbg {
	font-weight:bold;
	background-color:#EAEAEA;
}

.tdbgskip {
	font-weight:normal;
	color: #999999;
	background-color:#EAEAEA;
}

.tdbgskipTD {
	color: #999999;
}

.bold {
	color:#FFFFFF;
	font-weight:bold;
}

.bold_warning {
	font-weight:bold;
}

.deactive {
	font-weight:normal;
	color:#CCCCCC;
}

#resultInfo {
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0;
}
.error {
    color: red;
}
.success {
    color: #A3D119;
}