ul.SimpleContextMenu {
	display: none;
	position: absolute;
	margin: 0px;
	padding: 0px;
	font-family: verdana;
	font-size: 11px;
	list-style-type: none;
	border: 1px solid #666666;
	color: #000000;
	box-shadow: 2px 2px 6px #818181; /*shadow for CSS3 capable browsers.*/
	-webkit-box-shadow: 2px 2px 6px #818181;
	-moz-box-shadow: 2px 2px 6px #818181;
}
 
 
		ul.SimpleContextMenu li{
			display: block;
			width: 125px;
			padding: 2px 5px 3px 5px;
			text-decoration: none;
			color: #000000;
			background: #eeeeee;
			cursor:pointer;
			text-align:left;
		}
 
		ul.SimpleContextMenu li:hover {
			text-decoration: none;
			color: #ffffff;
			background: #0066FF;
			cursor:pointer;
		}