/*
///////////////////////////////////////////////////////////////////////////////////////// 
// Super Tables v0.30 - MIT Style License
// Copyright (c) 2008 Matt Murphy --- www.matts411.com
//
// Contributors:
// Joe Gallo
///////////////////////////////////////////////////////////////////////////////////////// 
*/

#scrollTable {
	color: #2E2E2E;
	margin: 0px;
	padding: 0px;
	border: none;
	font-family: Arial, sans serif;
	font-size: 11px;
}

#scrollTable td{
	border: 1px solid #CCCCCC;
	padding: 0px 5px 0px 5px;
	white-space: nowrap;
	height: 28px;
	cursor:pointer;
}


#scrollTable th{
	border: 1px solid #CCCCCC;
	padding: 0px 5px 0px 5px;
	white-space: nowrap;
	height: 28px;
	cursor:pointer;
	background:url(../img/button_bg.png);
	background-repeat:repeat-x;
	font-weight:bold;
	color:#003463;
}

#scrollTable2 {
	color: #2E2E2E;
	margin: 0px;
	padding: 0px;
	border: none;
	font-family: Arial, sans serif;
	font-size: 11px;
}

#scrollTable2 td{
	border: 1px solid #CCCCCC;
	padding: 5px;
	white-space: nowrap;
}


#scrollTable2 th{
	background:url(../img/button_bg.png);
	background-repeat:repeat-x;
	font-weight:bold;
	color:#003463;
	border: 1px solid #CCCCCC;
	padding: 5px;
	white-space: nowrap;
}


#fakeContainer { /* The parent container */
    margin: 0px;
    padding: 0px;
    border: none;
    width: 1440px; /* Required to set */
    height: 1080px; /* Required to set */
    overflow: hidden; /* Required to set */
	background-color:#F2F2F2;
}

.sBase {
	position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* HEADERS */
.sHeader {
	position: absolute;
	z-index: 3;
	background-color: #F2F2F2;
}
.sHeaderInner {
	position: relative;
}
.sHeaderInner table {
	border-spacing: 0px 0px !important;
	border-collapse: collapse !important;
	width: 1px !important;
	table-layout: fixed !important;
	background-color: #F2F2F2; /* Here b/c of Opera 9.25 :( */
}

/* HEADERS - FIXED */
.sFHeader {
	position: absolute;
	z-index: 4;
	overflow: hidden;
}
.sFHeader table {
	border-spacing: 0px 0px !important;
	border-collapse: collapse !important;
	width: 1px !important;
	table-layout: fixed !important;
	background-color: #F2F2F2; /* Here b/c of Opera 9.25 :( */
}

/* BODY */
.sData {
	position: absolute;
	z-index: 2;
	overflow: auto;
	background-color: #F2F2F2;
}
.sData table {
	border-spacing: 0px 0px !important;
	border-collapse: collapse !important;
	width: 1px !important;
	table-layout: fixed !important;
}

/* BODY - FIXED */
.sFData {
	position: absolute;
	z-index: 1;
	background-color: #F2F2F2;
}
.sFDataInner {
	position: relative;
}
.sFData table {
	border-spacing: 0px 0px !important;
	border-collapse: collapse !important;
	width: 1px !important;	
	table-layout: fixed !important;
}


/*
///////////////////////////////////////////////////////////////////////////////////////// 
// Super Tables - Skin Classes
// Remove if not needed
///////////////////////////////////////////////////////////////////////////////////////// 
*/

/* sSky */
.sSky {
	margin: 0px;
	padding: 0px;
	border: none;
	font-family: Arial, sans serif;
	font-size: 11px;
}
.sSky th, .sSky td {
	border: 1px solid #CCCCCC;
	padding: 5px 5px 5px 5px;
	white-space: nowrap;
}
.sSky th {
	background:url(../img/button_bg.png);
	background-repeat:repeat-x;
	font-weight:bold;
	color:#003463;
}
.sSky-Fixed {
	background-color: #F2F2F2;
}

.sSky a {
	color: #333333;
	text-decoration:none;
	font-weight:bold;
}

.sSky a:hover{
	text-decoration:underline;
}

/* sDefault */
.sDefault {
	margin: 0px;
	padding: 0px;
	border: none;
	font-family: Arial, sans serif;
	font-size: 11px;
}
.sDefault th, .sDefault td {
	border: 1px solid #CCCCCC;
	padding: 0px 5px 0px 5px;
	white-space: nowrap;
	height: 28px;
	cursor:pointer;
}
.sDefault th {
	background:url(../img/button_bg.png);
	background-repeat:repeat-x;
	font-weight:bold;
	color:#003463;
}
.sDefault-Fixed {
	background-color: #F2F2F2;
}


