@import url('tableSettings.css');


/* 
    tcmView
*/
.newTableView tbody tr {
    text-align: left;
    vertical-align: top;
}
.newTableView tbody tr:nth-child(even) {
    background: #E4E4E4;
}
.newTableView tbody tr:nth-child(odd) {
    background: #fff;
}

.footerRow {
    border-top: 2px solid #333333;
}


#hideContent {}
#printInfoContent {}
#printContentData {}
.headerEditColumns {
    display: none;
}

.tcmViewHeader {
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
    margin: 15px 0 25px 0;
}
.newTableView {
    width: 90%;
    margin: 5px 0 20px 0;
}
.newTableView .date, .newTableView.status {
    width: 7%;
}
.newTableView .time {
    width: 3%;
}
.newTableView .campaign, .newTableView .customerCompany {
    width: 15%;
}
.newTableView .targetGroup, .newTableView .notes {
    width: 12%;
}
.newTableView .targetVolume, .newTableView .bookingAmount, .newTableView .shippedAmount, .newTableView .openingRate, .newTableView .clickRate {
    width: 5%;
    text-align: right;
}
.newTableView .campaignEditor {
    width: 7%;
}
.newTableView .blacklist {
    width: 2%;
}

.noCampaign {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.calContainer, .dialogContainer {
    position: absolute;
    left: 10px;
    z-index: 2
}