<div id="k_submenu"> 
	<div class="bd" style="width:150px;background-image:url(img/cmenu_bg.png)"> 
		<ul class="submenu"> 
			<li id="button_details"><img src="img/Oxygen/16/actions/help-about.png"/> Info</li>
			<li id="button_versender_details"><img src="img/Tango/16/actions/edit-select-all.png"/> Versenderinfo</li>
			<li id="button_createInVs"><img src="img/Tango/16/actions/edit-paste.png"/> Im VS anlegen/edit.</li>
			<li id="button_prognose" ><img src="img/Tango/16/apps/office-chart.png"/> Prognose</li>
		</ul>
		<ul class="submenu">
			<li id="button_update"><img src="img/Tango/16/actions/view-refresh.png"/> Aktualisieren</li>
			<li id="button_sync_k"><img src="img/icons/page_swap.png"/> Sync</li>
			<li id="status_aendern"><img src="img/icons/favorite.png"/> Status &auml;ndern</li>
                        <li id="date_aendern"><img src="img/icons/note_edit.png"/> Datum &auml;ndern</li>

		</ul>
		<ul class="submenu">
			<li id="button_add_k"><img src="img/icons/add.png"/> NV hinzuf&uuml;gen</li>
			<li id="button_edit_k"><img src="img/icons/note_edit.png"/> Bearbeiten</li>
			<li id="button_edit_nv"><img src="img/icons/note_edit.png"/> Bearbeiten</li>
			<li id="button_copy"><img src="img/icons/windows.png"/> Kopieren</li>
		</ul>
		<ul class="submenu" id="special">
			<li id="button_report_kontext" style="display:none"><img src="img/Tango/16/apps/utilities-text-editor.png"/> Reporting erstellen</li>
			<li id="button_testmail"><img src="img/icons/mail.png"/> Testmail</li>
			<li id="button_testmail_selbst"><img src="img/icons/mail.png"/> Testmail an mich</li>
			<li id="button_empfehlung"><img src="img/icons/calculator.png"/> NV Rechner</li>
		</ul>
		<ul class="submenu">
			<li id="button_del_k"><img src="img/icons/remove.png"/> L&ouml;schen</li>
			<li id="button_noRightDel_k"><img src="img/icons/remove.png"/> L&ouml;schen</li>
		</ul>            
	</div> 
</div>