<div style="margin-bottom: 10px;" id="hideContent">
    <div style="float: left;">
        <button id="showTcmCal" type="button">Zeitraum ausw&auml;hlen</button>
        <input type="hidden" id="in_tcmList" name="in_tcmList" />
        <input type="hidden" id="out_tcmList" name="out_tcmList" />

        <div id="container_tcmDialog">
            <div class="panel_label_k">Campaign Manager: TCM</div>
            <div class="hd">
                <div class="hd_label">Zeitraum ausw&auml;hlen</div>
                <div class="hd_sublabel"></div>
            </div>
            <div class="bd" style="text-align:left;">
                <div id="tcm_CalCalendar"></div>
            </div>			
        </div>
    </div>
    <input type="button" onclick="changeView();"  value="aktualisieren" style="margin-left: 20px;" /><br style="clear: both;" />
</div>