/* Formular */
form {
	margin: 10px 0;
	padding: 0;
	font-size: 11px;
	line-height: 11px;
}
fieldset {
	margin: 0 0 10px 0;
	padding: 0;
	border: 0 none;
}
legend {
	margin: 3px 0 6px 0;
	padding: 0 0 2px 0;
	border-bottom: 1px solid #999999;
	color: #000033;
}
label {
	width: 60px;
	float: left;
	margin: 0;
	padding: 3px 0;
	font-weight: bold;
}
input, select, textarea {
	width: 220px;
	border: 1px solid #4c4c4c;
	font-size: 11px;
}
.infobox select {
	width: 100px;
}
input[type=submit], input[type=button] {
	background: #8e8901;
	font-weight: bold;
	width: 100px;
	border: 1px solid #8e8901;
	color: #ffffff;
}
input[type=radio], input[type=checkbox] {
	width: 20px;
	border: 0 none;
	margin: 0;
	padding: 0;
}
input.plz {
	width: 50px;
}
input.ort {
	width: 158px;
}


/* suchformular oben */
#suche {
	margin: 0;
	padding: 0;
}
#suche input {
	width: 260px;
}
#suche input[type=submit] {
	width: 60px;
}

#suche div {
	clear: both;
	margin: 8px 0 0 60px;
}
#suche div input[type=radio] {
	width: 20px;
	float: left;
	margin: 2px 8px 0 0;
}
#suche div label {
	width: auto;
	margin: 0 20px 0 0;
}



/* listansicht seite */
fieldset table label {
	width: 96%;
}



/* detail seite */
fieldset.edit {
	margin: 5px 15px;
	padding: 0;
}
.edit label {
	width: 110px; 
	padding: 6px 0;
}

.edit input[type=submit], .edit input[type=button] {
	width: 220px;
}

.edit#edit-neu input[type=radio], .edit#edit-neu input[type=checkbox] {
	float: left;
	padding: 0;
	margin: 0 10px 10px 0;
}
.edit#edit-neu label {
	margin: 0;
	padding: 0;
	width: auto;
}


#blacklist_option {
	margin: 15px 0 0 0;
}


#externe_email {
	margin: 0 0 18px 0;
}
#externe_email_infos {
	margin: 0 0 15px 0;
}
#externe_email label {
	font-weight: normal;
	width: auto;
}
.externe_email_header {
	font-weight: bold;
	margin: 0 0 10px 0;
}

#label_doi_infos {
	width: 70% !important;
	font-weight: bold !important;
}