/* Formular */
form {
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 11px;
}
fieldset {
	margin: 0 0 10px 0;
	padding: 0;
	border: 0 none;
}
legend {
	margin: 3px 0 6px 0;
	padding: 0 0 2px 0;
	border-bottom: 1px solid #999999;
	color: #000033;
}
label {
	width: 70px;
	float: left;
	margin: 0 5px 0 0;
	padding: 5px 0;
	font-weight: bold;
}
input, select, textarea {
	width: 220px;
	border: 1px solid #4c4c4c;
	font-size: 11px;
}
input[type=submit], input[type=button] {
	background: #3a83b6;
	font-weight: bold;
	width: 100px;
	border: 1px solid #3a83b6;
	color: #ffffff;
}
input[type=radio],input[type=checkbox] {
	width: 20px;
	border: 0 none;
	margin: 0;
	padding: 0;
}


/* suchformular oben */
#suche label {
	padding: 3px 0;
}
#suche input {
	width: 260px;
}
#suche input[type=submit] {
	width: 130px;
	text-transform: uppercase;
}

#suche div {
	clear: both;
	margin: 8px 0 0 70px;
}
#suche div input[type=radio] {
	width: 20px;
	float: left;
	margin: 2px 8px 0 0;
}
#suche div label {
	width: auto;
	margin: 0 20px 0 0;
}



/* Blacklist eintragungs seite */
#blacklist label span {
	float: left;
}
.edit input[type=submit] {
	float: left;
	width: 220px;
}


.error, #error_blacklist, #error_abmelden {
	color: #ff0000;
	font-weight: bold:
}