@import "formular.css";

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
}
.clear-float {
	clear: both;
}

#start {
	margin: 20px auto;
	padding: 0;
	text-align: left;
	width: 760px;
	border: 1px solid #3a83b6;
	background: #efefef;
}

/* Überschrift oben*/
h1 {
	background: #3a83b6;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 10px;
	margin: 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: left;
}



#content {
	margin: 0;
	padding: 8px 20px;
}
#content #content_left {
	float: left;
}

/* Willkommenstext */
h2 {
	margin: 0 0 15px 0;
	padding: 0;
}
#content img#mandanten_logo {
	float: right;
	margin: 0;
}

#suche {
	margin: 0;
	padding: 0;
}


#trennlinie {
	margin: 0;
	padding: 0;
	clear: both;
	background: #4c4c4c;
	height: 3px;
	line-height: 3px;
}
#inhalt {
	margin: 20px 0;
	padding: 0;
}


#abonennten_abmelden {
	height: 99%;
}
#blacklist_start {
	height: 99%;
}

a#backurl {
	font-weight: bold;
	text-transform: uppercase;
	margin: 15px 0 0 0;
	display: block;
}

/* blacklist einstellungen */
#blacklist_suchergebnis {
}

#blacklist_item {
	float: left;
}
#blacklist_download {
	float: right;
	padding: 0 10px 10px 10px;
	width: 220px;
	background: #f2f2f2;
	border: 1px solid #e7e7e7;
}
#blacklist_download a {
	background: url(../imgs/csv_download.gif) top left no-repeat;
	padding: 3px 0 3px 30px;
	display: block;
	margin: 4px 0 4px 15px;
	font-size: 13px;
	color: #555555;
	font-weight: bold;
}

/* abmelden einstellungen */
#abmelden_item {
	float: left;
}
#abmelden_infobox {
	float: left;
	margin: 0 5%;
	padding: 0 10px 10px 10px;
	width: 280px;
	background: #f2f2f2;
	border: 1px solid #e7e7e7;
}

#letzten_eintraegen {
}



h3 {
	font-size: 13px;
	margin: 8px 0 0 0;
	padding: 0 0 5px 0;
	color: #3A83B6;
}
p {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #3A83B6;
}
dl {
	margin: 5px 0;
	padding: 0;
	width: 90%;
}
dt, dd {
	margin: 1px 0;
	padding: 1px;
	float: left;
}
dt {
	font-weight: bold;
	width: 130px;
}





/* formular einstellungen */
.table {
	background: #555555;
	margin: 0 0 15px 0;
	width: 100%;
	text-align: left;
	border: 1px solid #dddddd;
}
.table thead tr th {
	background: #555555;
	border: 1px solid #ffffff;
	padding: 4px;
	color: #ffffff;
}
.table tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #ffffff;
	vertical-align: top;
}
.table tbody tr.odd td {
	background-color: #e7e7e7;
}
.table_trenner {
	border-right: 1px solid #dddddd;
}
.table_trenner span {
	float: left;
}
.table_trenner img {
	margin: 0 5px;
	border: 0;
}