/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default {
	border: 1px solid #d3d3d3;
        background: #f4f4f4;
	color: #8e8901;
	outline: none;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #444444;
	text-decoration: none;
	outline: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
	border: 1px solid #d3d3d3;
	background: #f4f4f4 url(../../../imgs/jquery_ui/ui-bg_glass_75_dadada_1x400.png) 60% 60% repeat-x;
	outline: none;
}

.ui-state-hover a, .ui-state-hover a:hover {
	text-decoration: none;
	outline: none;
	color: #8e8901;
}

.ui-state-active, .ui-widget-content .ui-state-active {
	border: 1px solid #d3d3d3;
	/*background: url(../../../imgs/jquery_ui/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 10% 100% repeat-x;'*/
	background: #8e8901;
	color: #ffffff;
	outline: none;
	font-weight: bold;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #ffffff;
	outline: none;
	text-decoration: none;
}

#dais_auskunft.ui-state-default a, #dais_auskunft.ui-state-default a:link, #dais_auskunft.ui-state-default a:visited {
	font-weight: bold;
	color: #FF0000;
}
#dais_auskunft.ui-state-active, #dais_auskunft.ui-widget-content .ui-state-active {
	background: #FF0000;
	color: #ffffff;
}