
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style type="text/css">
        /*START LITMUS CSS CODE THAT I ADDED*/

        /* Client-specific Styles */
        #outlook a {
            padding: 0;
        }
        /* Force Outlook to provide a "view in browser" menu link. */
        body {
            width: 100% !important;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            margin: 0;
            padding: 0;
        }
        /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
        .ExternalClass {
            width: 100%;
        }
            /* Force Hotmail to display emails at full width */
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }
        /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
        #backgroundTable {
            margin: 0;
            padding: 0;
            width: 100% !important;
            line-height: 100% !important;
        }

        img {
            outline: none;
            text-decoration: none;
            border: none;
            -ms-interpolation-mode: bicubic;
        }

        a img {
            border: none;
        }

        .image_fix {
            display: block;
        }

        p {
            margin: 0px 0px !important;
            line-height: 1.2;
        }

        table td {
            border-collapse: collapse;
        }

        table {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }
            /*a {color: #e95353;text-decoration: none;text-decoration:none!important;}*/
            /*STYLES*/
            table[class=full] {
                width: 100%;
                clear: both;
            }
        strong {
            line-height: 1.2;
        }
        /*################################################*/
        /*IPAD STYLES*/
        /*################################################*/
        @media only screen and (max-width: 640px) {
            a[href^="tel"], a[href^="sms"] {
                text-decoration: none;
                color: #ffffff; /* or whatever your want */
                pointer-events: none;
                cursor: default;
            }

            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                text-decoration: default;
                color: #ffffff !important;
                pointer-events: auto;
                cursor: default;
            }

            table[class=devicewidth] {
                /*width: 440px !important;
                text-align: center !important;*/
                width: 100% !important;
                max-width: 550px !important;
            }

            table[class=devicewidthinner] {
                width: 420px !important;
                text-align: center !important;
            }

            table[class="sthide"] {
                display: none !important;
            }

            img[class="bigimage"] {
                width: 420px !important;
                height: 219px !important;
            }

            img[class="col2img"] {
                width: 420px !important;
                height: 258px !important;
            }

            img[class="image-banner"] {
                width: 440px !important;
                height: 106px !important;
            }

            td[class="menu"] {
                text-align: center !important;
                padding: 0 0 10px 0 !important;
            }

            td[class="logo"] {
                padding: 10px 0 5px 0 !important;
                margin: 0 auto !important;
            }

            img[class="logo"] {
                padding: 0 !important;
                margin: 0 auto !important;
            }
        }
        /*##############################################*/
        /*IPHONE STYLES*/
        /*##############################################*/
        @media only screen and (max-width: 480px) {
            a[href^="tel"], a[href^="sms"] {
                text-decoration: none;
                color: #ffffff; /* or whatever your want */
                pointer-events: none;
                cursor: default;
            }

            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                text-decoration: default;
                color: #ffffff !important;
                pointer-events: auto;
                cursor: default;
            }

            table[class=devicewidth] {
                /*width: 280px !important;
                text-align: center !important;*/
                width: 100% !important;
                max-width: 550px !important;
            }

            table[class=devicewidthinner] {
                width: 260px !important;
                text-align: center !important;
            }

            table[class="sthide"] {
                display: none !important;
            }

            img[class="bigimage"] {
                width: 260px !important;
                height: 136px !important;
            }

            img[class="col2img"] {
                width: 260px !important;
                height: 160px !important;
            }

            img[class="image-banner"] {
                width: 280px !important;
                height: 68px !important;
            }
        }


        /*END LITMUS CSS CODE THAT I ADDED*/






        body {
            margin: 0px;
            padding: 0px;
            background-color: #ffffff;
            color: #000000;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            width: 100% !important;
        }

        a, a:link, a:visited {
            color: #2c8fd6;
            text-decoration: underline;
        }

            a:hover, a:active {
                text-decoration: none;
                color: #125f96 !important;
            }

        h1, h2, h3, h1 a, h2 a, h3 a {
            color: #2c8fd6 !important;
        }

        h2 {
            padding: 0px 0px 10px 0px;
            margin: 0px 0px 10px 0px;
        }

            h2.name {
                padding: 0px 0px 7px 0px;
                margin: 0px 0px 7px 0px;
            }

        h3 {
            padding: 0px 0px 5px 0px;
            margin: 0px 0px 5px 0px;
        }

        p {
            margin: 0 0 14px 0;
            padding: 0;
        }

        img {
            border: 0;
            -ms-interpolation-mode: bicubic;
            max-width: 100%;
        }

        a img {
            border: none;
        }

        table td {
            border-collapse: collapse;
        }

        td.quote {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 18px;
            line-height: 20pt;
            color: #2c8fd6;
        }

        span.phone a, span.noLink a {
            color: 2c8fd6;
            text-decoration: none;
        }

        /* Hotmail */
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }
        /* / Hotmail */

        /* Media queries */
        @media (max-width: 767px) {
            td[class=shareContainer], td[class=topContainer], td[class=container] {
                padding-left: 20px !important;
                padding-right: 20px !important;
            }

            table[class=draggable] {
                width: 100% !important;
                max-width: 550px !important;
            }


            img[class=wideImage], img {
                width: 100% !important;
                height: auto !important;
                max-width: 100%;
                min-height: 50px !important;
            }
        }

        @media (max-width: 560px) {
            td[class=twoFromThree] {
                display: block;
                width: 100% !important;
            }

            td[class=inner2], td[class=authorInfo] {
                padding-right: 30px !important;
            }

            td[class=socialIconsContainer] {
                display: block;
                width: 100% !important;
                border-top: 0px !important;
            }

            td[class=socialIcons], td[class=socialIcons2] {
                padding-top: 0px !important;
                text-align: left !important;
                padding-left: 30px !important;
                padding-bottom: 20px !important;
            }

            /*Prime CTA button adjustments*/
            a[class=cta2] {
                font-size: 15px !important;
            }

            td[class=buttontext] {
                width: 90%;
            }
        }

        @media (max-width: 480px) {
            html, body {
                margin-right: auto;
                margin-left: auto;
            }

            td[class=oneFromTwo] {
                display: block;
                width: 100% !important;
            }

            td[class=inner] {
                padding-left: 30px !important;
                padding-right: 30px !important;
            }

            td[class=inner_image] {
                padding-left: 30px !important;
                padding-right: 30px !important;
                padding-bottom: 25px !important;
            }

            img[class=wideImage] {
                width: auto !important;
                margin: 0 auto;
            }

            td[class=viewOnline] {
                display: none !important;
            }

            td[class=date] {
                font-size: 14px !important;
                padding: 10px 30px !important;
                background-color: #f4f4f4;
                text-align: left !important;
            }

            td[class=title] {
                font-size: 24px !important;
                line-height: 32px !important;
            }

            table[class=quoteContainer] {
                width: 100% !important;
                float: none;
            }

            td[class=quote] {
                padding-right: 0px !important;
            }

            td[class=spacer] {
                padding-top: 18px !important;
            }

            td[class=logobox] {
                font-size: 14px !important;
            }
        }

        @media (max-width: 380px) {
            td[class=shareContainer] {
                padding: 0px 10px !important;
            }

            td[class=topContainer] {
                padding: 10px 10px 0px 10px !important;
                background-color: #e9e9e9 !important;
            }

            td[class=container] {
                padding: 0px 10px 10px 10px !important;
            }

            table[class=draggable] {
                min-width: 240px !important;
            }

            img[class=wideImage] {
                width: 100% !important;
                max-width: 255px;
            }

            td[class=authorInfo], td[class=socialIcons2] {
                text-align: center !important;
            }

            td[class=spacer2] {
                display: none !important;
            }

            td[class=spacer3] {
                padding-top: 23px !important;
            }

            table[class=iconContainer], table[class=iconContainer_right] {
                width: 100% !important;
                float: none !important;
            }

            table[class=authorPicture] {
                float: none !important;
                margin: 0px auto !important;
                width: 80px !important;
            }

            td[class=icon] {
                padding: 5px 0px 25px 0px !important;
                text-align: center !important;
            }

                td[class=icon] img {
                    display: inline !important;
                }

            img[class=buttonRight] {
                float: none !important;
            }

            img[class=bigButton] {
                width: 100% !important;
                max-width: 224px;
                height: auto !important;
            }

            h2[class=website] {
                font-size: 22px !important;
            }

            img[class=wideImage], img {
                width: 100% !important;
                max-width: 98%;
            }
        }
        /* / Media queries */
    </style>

    <!-- Internet Explorer fix -->
    <!--[if IE]>
    <style type="text/css">
    @media (max-width: 560px) {
        td[class=twoFromThree], td[class=socialIconsContainer] {float:left; padding:0px;}
    }
    @media only screen and (max-width: 480px) {
        td[class=oneFromTwo] {float:left; padding:0px;}
    }
    @media (max-width: 380px) {
        span[class=phone] {display:block !important;}
    }
    </style>
    <![endif]-->
    <!-- / Internet Explorer fix -->
    <!-- Windows Mobile 7 -->
    <!--[if IEMobile 7]>
    <style type="text/css">
        td[class=shareContainer], td[class=topContainer], td[class=container] {padding-left:10px !important; padding-right:10px !important;}
        table[class=draggable] {width:100% !important; max-width:550px !important;}
        td[class=oneFromTwo], td[class=twoFromThree] {float:left; padding:0px; display:block; width:100% !important;}
        td[class=socialIconsContainer] {float:left; padding:0px; display:block; width:100% !important; border-top:0px !important;}
        td[class=socialIcons], td[class=socialIcons2] {padding-top:0px !important; text-align:left !important; padding-left:30px !important; padding-bottom:20px !important;}
        td[class=inner], td[class=inner2], td[class=authorInfo] {padding-left:30px !important; padding-right:30px !important;}
        td[class=inner_image] {padding-left:30px !important; padding-right:30px !important; padding-bottom:25px !important;}
        td[class=viewOnline] {display:none !important;}
        td[class=date] {font-size:14px !important; padding:10px 30px !important; background-color:#f4f4f4; text-align:left !important;}
        td[class=title] {font-size:24px !important; line-height:32px !important;}
        table[class=quoteContainer] {width:100% !important; float:none;}
        td[class=quote] {padding-right:0px !important;}
        td[class=spacer] {padding-top:18px !important;}
        span[class=phone] {display:block !important;}
        img {width:100% !important; height:auto !important; max-width:100%;}
        img[class=wideImage] {width:auto !important; margin:0 auto;}
    </style>
    <![endif]-->
    <!-- / Windows Mobile 7 -->
    <!-- Outlook -->
    <!--[if gte mso 15]>
    <style type="text/css">
    .iconContainer, .quoteContainer {mso-table-rspace:0px; border-right:1px solid #ffffff;}
    .iconContainer_right {mso-table-rspace:0px; border-right:1px solid #ffffff; padding-right:1px;}
    .authorPicture {mso-table-rspace:0px; border-right:1px solid #f4f4f4;}
    </style>
    <![endif]-->
    <!-- / Outlook -->
</head>

<body>

    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
        <!-- Start of main container -->
        <tbody><tr>
            <td align="center" class="container" style="padding-left:5px; padding-right:5px; padding-bottom:20px; background-color:white;">


                <!--

                Types of rows included:

                * single image
                * title (big, single line of text)
                * text-only row
                * text alongside image
                * CTA button

                General recommendations:
                * Do not touch the image sizes if you don't HAVE to.
                * Accept that some lines will break.
                 -->


                <table id="area1" class="draggable" width="550" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; text-align: center; border-spacing: 0px; max-width: 100%; border: 0px none transparent;">
                    <tbody>
                       <tr>
			<td align="center">
				<center>
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
						<tr>
							<td align="center"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;">&nbsp;&nbsp;&nbsp;<img src="http://4wave.online/logo.jpg" style="width:120px;"></span></td>
						</tr>
						<tr>
							<td height="5"></td>
						</tr>
						<tr>
							<td align="center" style="border-bottom-color:#0092c9; border-bottom-style:solid; border-bottom-width:1px;">
								<center>
									<font color="#000000" face="Arial, Helvetica, sans-serif" size="1" style="font-size:10px">Falls dieser Newsletter nicht richtig dargestellt wird, klicken Sie bitte <a href='%%webversion%%' style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#0092c9;" target="_blank"><b>hier</b></a>.<br>
									<br></font>
								</center>
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
                    <tr>
                        <td style="padding-left:30px; padding-right:30px; padding-top:3px; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:15pt; color:#000000;">
                            <a id="singel_text_area_1" data-val-caption="Top text" class="editable singleline_text htmlEditor" href="http://www.megacasino.com/de/?aff=10027179&prc=66899_0">Schauen Sie unser Mega-Angebot an</a>
                        </td>
                    </tr>
                </tbody></table>


                <!-- Start of single-image row -->
                <table id="area2" class="draggable" width="550" bgcolor="white" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; text-align: left; border-spacing: 0px; max-width: 100%; border: 0px none transparent;">
                    <tbody><tr>
                        <td style="padding-top: 2px; padding-bottom: 20px;font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 100%; text-align: center; color: white;"><a href="http://www.megacasino.com/de/?aff=10027179&prc=66899_0"><img id="img0" class="banner edit_image editable" alt="" src="http://www.primemailers.com/83417FF6-2589-40EF-B696-C5E3F83B8C13/images/Header.jpg" width="550" height="256" vspace="0" hspace="0" border="0" style="display:block;" file-name="Header.jpg"></a></td>
                    </tr>
                </tbody></table>
                <!-- End of single-image row -->
                <!-- Start of text onloy row -->
                <table id="area3" class="draggable" width="550" bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; text-align: left; border-spacing: 0px; max-width: 100%; border: 0px none transparent;">
                    <tbody><tr>
                        <td id="text_area_1" class="editable multiline_text htmlEditor" style="padding-left:30px; padding-right:30px; padding-bottom:15px; font-family:Arial, Helvetica, sans-serif; font-size:17px; line-height:15pt; color:#000000;"><span style="font-size: 16px;">Hallo %%Vorname%%,</span><br><br><span style="font-size: 16px;">Wir gratulieren!</span><br><br><span style="font-size: 16px;">Ihr Name kam aus dem Hut und darum erhalten Sie unser Spezialangebot von 25 FREISPIELEN und einem Sonderbonus im Wert von maximal €100! (bei Einzahlung)</span><br>
<ul>
<li><span style="font-size: 16px;">Hunderte von spannenden Spielen</span></li>
<li><span style="font-size: 16px;">Gewinne ohne Ende</span></li>
<li><span style="font-size: 16px;">Enorme progressive Jackpots</span></li>
<li><span style="font-size: 16px;">3 Top-Live Casinos</span></li>
</ul>
<span style="font-size: 16px;">Lassen Sie sich die einmalige Chance nicht entgehen, sich bei Mega Casino zu registrieren!</span></td>
                    </tr>
                </tbody></table>
                <!-- End of text only row -->
                <!-- CTA row -->
                <table id="area4" class="draggable" width="550" cellpadding="0" cellspacing="0" border="0" align="center" modulebg="edit" style="border: 0px none transparent;">
                    <tbody>
                        <!-- Spacing -->
                        <tr>
                            <!-- <td width="100%" height="10"></td>-->
                        </tr>
                        <!-- Spacing -->
                        <tr>
                            <td style="padding-bottom: 20px;">
                                <table width="540" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                                    <tbody>
                                        <!-- button -->
                                        <tr>
                                            <td align="center">
                                                <center>
                                                    <table height="36" align="center" valign="middle" border="0" cellpadding="0" cellspacing="0" class="tablet-button" st-button="edit" style="margin-left:auto;margin-right:auto;">
                                                        <tbody>
                                                            <tr>
                                                                <td id="cta_wrap" width="auto" align="center" valign="middle" height="36" style="background-color: rgb(2, 195, 66); background-clip: padding-box; font-size: 27px; font-family: arial; text-align: center; color: rgb(255, 255, 255); font-weight: 300; padding: 12px 25px; line-height: 1.2em;">

                                                                    <span style="color: #ffffff; font-weight: bold;">
                                                                       <a class="editable cta_text cta2" id="cta" style="color: #ffffff; text-align:center;text-decoration: none;" href="http://www.megacasino.com/de/?aff=10027179&prc=66899_0">JETZT SPIELEN</a>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </center>
                                            </td>
                                        </tr>
                                        <!-- /button -->
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                         <tr>
							<td style="border-bottom-color:#0092c9; border-bottom-style:solid; border-bottom-width:1px;"><img alt="" height="4" src="http://4wave-mailing.de/c/FRmCrWisvob-gGeiXhOOXQ" style="display:block" width="1"></td>
						</tr>
						<tr>
							<td>
								<table border="0" cellpadding="0" cellspacing="5" width="100%">
									<tr>
										<td align="center"><span style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#000000;">Sie erhalten dieses Mailing, da Sie sich mit Ihrer Email-Adresse <b>%%emailaddress%%</b> bei einem unserer Portale oder auf Aktionsseiten unserer Partner eingetragen haben.<br>
										
										<br>
										Dieser Newsletter ist ein kostenloses Angebot der 4Wave Marketing GmbH, Unterl&auml;nder Stra&szlig;e 74, 70435 Stuttgart<br><br><a href='http://4wave.online/form/' style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#0092c9; text-decoration:underline;" target="_blank">Kontakt</a> &bull; <a href='%%unsubscribelink%%' style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#0092c9; text-decoration:underline;" target="_blank">Abmelden</a> &bull; <a href='http://4wave.online/' style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#0092c9; text-decoration:underline;" target="_blank">Impressum</a>
										<br><br>
										Inhaltsverantwortlicher f&uuml;r dieses Mailing ist der jeweilige Anbieter.<br></span></td>
									</tr>
								</table>
							</td>
						</tr>
                        <!-- Spacing -->
                        <tr>
                            <!-- <td width="100%" height="10"></td>-->
                        </tr>
                        <!-- Spacing -->
                    </tbody>
                </table>
                <!-- end of CTA row -->
                <!-- Start of text without icon -->
                
                <!-- End of text without icon -->



            </td>
        </tr>
        <!-- End of main container -->
    </tbody></table>


</body>
