{* download bereich für mandant magolino gespert bzw. nicht sichtbar *}
{if $mandant != 'magolino'}
	<div id="blacklist_download">
		<h3>Export Blacklist ({$countBlacklistItems|thousander_format} Einträge):</h3>
		<a href="?action=download">csv datei herunterladen</a>
	</div>
{/if}
<br class="clear-float" />